<!DOCTYPE html>
<html>
  <head>
    <title>Linkbox</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'custom', media: 'all' %>
    <link href="https://cdn.jsdelivr.net/npm/animate.css@3.5.1" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'main', media: 'all' %>
    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
