<!DOCTYPE html>
<html>
  <head>
    <title>Linkbox</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_pack_tag 'stylesheets', media: 'all' %>
    <link href="https://cdn.jsdelivr.net/npm/animate.css@3.5.1" rel="stylesheet" type="text/css">
    <%= stylesheet_pack_tag 'main', media: 'all' %>
    <%= javascript_pack_tag 'main' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
