<!DOCTYPE html>
<html>
  <head>
    <title>Linkbox</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_pack_tag 'stylesheets', media: 'all' %>
    <%= stylesheet_pack_tag 'main', media: 'all' %>
    <%= javascript_pack_tag 'main' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
