<!DOCTYPE html>
<html>
  <head>
    <title>Linkbox</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_pack_tag 'stylesheets', media: 'all' %>
    <%= stylesheet_pack_tag 'main', media: 'all' %>
    <%= javascript_pack_tag 'main' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
